/* HEADER */

/* Botão Pular para Conteúdo Principal */
nav .logo .pularNavegacao {}

/* Caixa do Logotipo + Botão de compartilhamento */
/* nav .logo img,
nav .nav-link  {
  background-color: red;
} */

nav .logo img {
  background-color: #1DA1F2;
}

/* Botão de compartilhamento */
nav .nav-link {
  background-color: #1DA1F2;
  color: white;
}
nav .nav-link:focus,
nav .nav-link:hover,
nav .nav-link[aria-expanded="true"] {}

/* FOOTER */

footer {
    font-size: .85rem;
    position: relative;
    z-index: 99;
    color: #354551;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #fff;
}

footer .aval-rea .btn-secondary {
    border-radius: 0;
    background-color: transparent;
    color: inherit;
    border: 1px solid #F6BB5E;
}
/* Cores de fonte + contornos */
/* footer, footer .sharing i {
  color: red;
}
footer .cred-rea>div:not(:first-child) {
  border-left-color: red;
}
footer .aval-rea .btn-secondary {
  border-color: red;
}
@media (max-width: 1199.98px) {
  footer .sharing i {
    background-color: red;
    color:  white;
  }
} */
footer .aval-rea .btn-secondary:hover,
footer .aval-rea .btn-secondary:focus {
  background-color: #f7bc67;
}

/* Cor do ícone de compartilhamento dentro dos círculos. Ajustar para mesma cor do fundo quando utilizado background diferente do padrão ou transparente. */
/* @media (max-width: 1199.98px) {
  footer .sharing i {
    color:  red;
  } */

/* MAIN */
main {
  padding-top: 3rem;
  padding-bottom: 0rem;
}
@media only screen and (max-width: 992px) {
  main {
    padding-top: 2rem;
    padding-bottom: 0rem;
  }
}
